{% load static %}
<script src={% static 'js/appointment.js' %} ></script>

<table>
    <thead>
        {% for day in days %}
        <th>{{day.weekday}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for day in days %}
        <td>
            <ul>
                {% for slot in day.slots %}
                    {% if slot.client %}
                        <li>{{slot.time}} - {{slot.client}}</li>
                    {% else %}
                        <li id={{day.weekday}}
                            onclick="make_appointment(event)">
                            <input
                                type="hidden"
                                value={{slot.dt}}
                            >
                            <input
                            type="button"
                            value={{slot.time}}
                            ></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </td>
        {% endfor %}
    </tbody>
</table>